/* Import des fonts */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Inder&display=swap');
/* LoginPage.css */

body {
  font-family: 'Inder', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Aligner le contenu verticalement au centre */
  height: 100vh;
  background-color: #09B962;
  color: white;
}

.container {
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

label {
  font-size: 20px;
}

input {
  width: calc(100% - 20px);
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #29af9f;
  margin-bottom: 20px;
}

button {
  width: calc(100% - 20px);
  padding: 15px;
  border-radius: 15px;
  background-color: #29af9f;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
