/* LoginPage.css */

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
.login-page {
  &.container {
      width: 90%;
      max-width: 600px;
      color: white;
      text-align: center;
      padding: 0px;
      font-family: 'Inknut Antiqua', serif;
      background-image: url("/d:/jawad/L/PIM/pim-plant/src/pages/backgrounds/Connexion.png");

    }

  h1 {
    font-size: 48px;
    margin-bottom: 300px;
    margin-top: 100px;
    line-height: 119%;
  }

  label {
    font-size: 20px;
  } 
  .create-account-text {
    font-size: 24px;
    font-weight: bold;
    color: #8DDAB4; 
    margin-top: -50px; 
  }
  
  input {
    width: 335px;
    height: 60px;
    padding: 15px;
    border-radius: 11px;
    border: 2px solid #29af9f;
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
    font-size: 24px; 
    font-family: 'Inder', serif;
  }
.checkbox-input {
  width: 27px;
  height: 26px;
  margin-right: 50px;
  border-radius: 5px;
  border: 2px solid #29af9f;
}

  .checkbox-label {
    font-size: 13.5px;
    font-family: 'Inknut Antiqua', serif;
    color: #8DDAB4;
    margin-top: -22px;
  }

  button {
    width: 164px;
    height: 45px;
    padding: 15px;
    border-radius: 11px;
    background-color: #779f9a81;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: -25px;
    font-family: 'Inder', serif;
  }
}