@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Inder&display=swap');

body {
  margin: 0;
  font-family: 'Inder', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background: linear-gradient(45deg, #054941, #234F55);
}

.container .main {
  display: flex;
  justify-content: space-around;
  flex: 1;
  max-height: 100%;
  overflow-y: scroll;
  min-width: 100%;
  max-width: 100%;
  background-color: white;
}